# Visual Studio
.vs/
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# Build output
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Compiled files
*.obj
*.exe
*.dll
*.pdb
*.ilk
*.idb
*.iobj
*.ipdb
*.exp
*.lib

# Build logs
*.log
*.tlog
*.recipe
*.lastbuildstate

# Precompiled headers
*.pch
